@model Versta.Models.OrderModel  

@{
    ViewData["Title"] = "OrderPage";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderPage</h1>

<link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />


<br />
                <div class="card border-primary mb-3" style="width: 25rem;">
                    <div class="card-body">
                    <p class="card-text">id: <b>@Model.Order.id</b></p>
                    <p class="card-text">Уникальный id: <b>@Model.Order!.unique_id</b></p>
                    <p class="card-text">Город отправления: <b>@Model.Order.city_from</b></p> 
                    <p class="card-text">Адрес отправления: <b>@Model.Order.address_from</b></p>
                    <p class="card-text">Город назначения: <b>@Model.Order.city_to</b></p>
                    <p class="card-text">Адрес назначения: <b>@Model.Order.address_to</b> </p>
                    <p class="card-text">Вес груза: <b>@Model.Order.weight</b></p>
                    <p class="card-text">Дата забора груза: <b>@Model.Order.date</b></p>
                    </div>
                </div>        